<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
  </style>
</head>
<body>
  <h1>Recs By Text</h1> 
    <h2>Recommend movies to your friends and ask them for recommendations all through a convenient SMS interface.</h2>
    <h3>Getting Started</h3>
    <p>To start a new account, text 'I am ' plus your username to 219-501-4076. Usernames cannot contain spaces.</p>
    <p>Example: I am karl</p>

    <h3>Commands</h3>
    <p><b>List</b> - Will return your list of recommended movies. When you first sign up, this list will be empty.</p>    
    <p>rec Ghostbusters to me - Will add a movie to your own list.</p>
    <p>rec True Grit to josh - Will add a movie to your friend josh's list.</p> 

    <p>Show + the items position in the list to see more details about an item in your list</p>
    <p>delete + the item's position in the list to delete the recommendation. </p>

</body>
</html>